@model IEnumerable<AI_Lib.Models.book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.book_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_original_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_release_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_isbn_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_page_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_cover_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author.author_first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher.publisher_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.book_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_original_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_release_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_isbn_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_page_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_cover_url)
        </td>
        <td>
                        @Html.DisplayFor(modelItem => item.author.author_first_name) @Html.DisplayFor(modelItem => item.author.author_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher.publisher_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.book_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.book_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.book_id })
        </td>
    </tr>
}

</table>
